<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Pwa template</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="shortcut icon" type="image/png" href="/copied_assets/favicon.png">

    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet">

   <!--  <link rel="manifest" href="/manifest.json"> -->
    <!-- <link rel="apple-touch-icon" href="/icons/icon-144x144.png" sizes="144x144"> --> <!-- OVA TREBA DA BUDE 144x144 -->
    <!-- To specify multiple icons for different device resolutions—for example, support both iPhone and iPad devices -->
    <!-- <link rel="apple-touch-icon" sizes="57x57" href="/icons/apple-icon57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/icons/apple-icon60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/icons/apple-icon72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/icons/apple-icon76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/icons/apple-icon114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/icons/apple-icon120x120.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/icons/icon-152x152.png">
    <link rel="apple-touch-icon" sizes="167x167" href="/icons/apple-icon167x167.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/icons/apple-icon180x180.png"> -->
    <!-- Specifying a Launch Screen Image -->
    <!-- <link rel="apple-touch-startup-image" href="/icons/apple-icon120x120.png"> -->
    <!-- Adding a Launch Icon Title -->
    <!-- <meta name="apple-mobile-web-app-title" content="InstaClone"> -->
    <!-- Hiding Safari User Interface Components -->
    <!-- <meta name="apple-mobile-web-app-capable" content="yes"> -->
    <!-- Changing the Status Bar Appearance -->
    <!-- <meta name="apple-mobile-web-app-status-bar-style" content="black"> -->
    <!-- cross browser -->
    <!-- <meta name="theme-color" content="#BADA55"> -->
    
    <!-- MS SPECIFIC -->
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-TileImage" content="/icons/icon-144x144.png">
    
    <meta name="mobile-web-app-capable" content="yes">
    
</head>
<body>

    <div id="app">
       
    </div>

</body>
</html>