@mixin fancy_element($color, $text, $background-color: blanchedalmond){         // ZADAO SAM DA JE
    // DEFAULT VREDNOST POSLEDNJEG
    // ARGUMENTA, USTVARI
    // blanchedalmond
    border: $color solid 8px;
    color: $color;
    background-color: $background-color;

    &::after {
        content: $text;
    }

}


@mixin fancy_blah($color_blah){

    color: $color_blah;
    font-family: 'Trebuchet MS';
    border-top: #c5628b solid 18px;

    > * {

        border-right: #5dc39383 ridge 28px;
        padding: 14px;
        font-family: $curved_text_fam;
        color: $color_sec;


        > *:nth-child(2n)::after{

            @content;           // EVO OVDE SAM DEFINISAO CONTENT

            color: $font_lovely_color;
            display: list-item;
            list-style-type: lower-greek;
            list-style-position: outside;
            font-size: 28px;
            margin-left: 28%;


        }

    }

}




// OVO JE NEPOTPUNO, JER NEMAMA VREMENA DA SE BAVIM SADA OVIMA, ALI SHVATAS IDEJU, KAKO BI SVE MOGLO DA SE RESI

// NISAM DEFINISAO, KAKO TREBA NISTA DOLE POCEV OD MICROSOFT-A
// (ODNOSNO NISAM UPOTREBIO NIKAKVU DOBRU PRAKSU ZA MICROSOFT)
// IONAKO OVO NECE RADITI ZA INTERNET EXPLORER (PROVERIO SAM) (VALJDA VENDOR PSEUDO ELEMENTI FUNKCIONISU SAMO ZA EDGE)
// OVO PREDPOSTTAVLJAM

@mixin range_input_uniform($track_width: 100%, $track_b_color: #3071a9){

    
    
    // TRACK VARIABLES 
    $track_height: 8.4px;
    $_cursor: pointer;
    $track_border_radius: 1.8px;
    $track_box_shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    $track_border: 0.2px solid #010101;
    // SLIDER THUMB VARIABLES
    $thumb_box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    $thumb_border: 1px solid #000000;
    $thumb_height: 36px;
    $thumb_width: 16px;
    $thumb_border-radius: 3px;
    $thumb_b-color: #ffffff;
    $thumb_cursor: pointer;
    $thumb_margin-top: -14px;



    


    input[type="range"]{
        -webkit-appearance: none;        // UKLONICE TRACK (I MOZ I WEBKIT), ALI NE I THUMB
        
        width: $track_width;
        margin: 18px 0;

        

        // DEFINISACU PRVO ZA WEBKIT

        &:focus {
            outline: none;              // OVO BI TREBAL ODA JE LOSA PRAKSA, KOJA NEMA EFEKTA NA
                                        // FIREFOX
        }

        // WEBKIT TRACK
        &::-webkit-slider-runnable-track {
            // AUTOR JE KORISTIO animate PROPERTI (NEMA GA NIGDE, NISAM NASAO SPECIFIKACIJE)
            // VREDNOST MU JE 0.2s

            background-color: $track_b_color;
            width: $track_width;

            height: $track_height;
            cursor: $_cursor;
            box-shadow: $track_box_shadow;
            border: $track_border;
            border-radius: $track_border_radius;
        
           
            
        }

        // WEBBKIT THUMB
        &::-webkit-slider-thumb {

            -webkit-appearance: none;

            box-shadow: $thumb_box-shadow;
            border: $thumb_border;
            height: $thumb_height;
            width: $thumb_width;
            border-radius: $thumb_border-radius;
            background-color: $thumb_b-color;
            cursor: $thumb_cursor;   
            margin-top: $thumb_margin-top;


        }


        &::-moz-range-track {

            background-color: $track_b_color;
            width: $track_width;

            height: $track_height;
            cursor: $_cursor;
            box-shadow: $track_box_shadow;
            border: $track_border;
            border-radius: $track_border_radius;
            

        }


        &::-moz-range-thumb {
            // -webkit-appearance: none; // NE FUNKCIONISE ZA FIREFOX

            // ALI SVE OVO OSTALO CE UCINITI DA THUMB BUDE ISTI I KOD FIREFOX-A I KOD CHROME-A

            box-shadow: $thumb_box-shadow;
            border: $thumb_border;
            height: $thumb_height;
            width: $thumb_width;
            border-radius: $thumb_border-radius;
            background-color: $thumb_b-color;
            cursor: $thumb_cursor;   
            margin-top: $thumb_margin-top;
            // DODAO SAM OVO ZA FIREFOX
            box-sizing: border-box;
        }


        // OSTAJE MI DA DEFINISEM ZA MICROSOFT STO ME MRZI SADA DA URADIM

        // OVO NECE READITI ZA INTERNET EXPLORER ALI CE VALJDA RADITI ZA EDGE

        &::-ms-track {

            width: 100%;
            height: 8.4px;
            cursor: pointer;
            background: transparent;
            border-color: transparent;
            border-width: 16px 0;
            color: transparent;
          }
          &::-ms-fill-lower {
            background: #2a6495;
            border: 0.2px solid #010101;
            border-radius: 2.6px;
            box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
          }

        

          &::-ms-fill-upper {
            background: #3071a9;
            border: 0.2px solid #010101;
            border-radius: 2.6px;
            box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
          }
          &::-ms-thumb {
            box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
            border: 1px solid #000000;
            height: 36px;
            width: 16px;
            border-radius: 3px;
            background: #ffffff;
            cursor: pointer;
          }
          &:focus::-ms-fill-lower {
            background: #3071a9;
          }
          &:focus::-ms-fill-upper {
            background: #367ebd;
          } 




        //STILOVE, KOJI CE BITI PROSLEDJENI
        // DECLARATION BLOCK-OM, DODAJEM NA KRAJU
        @content;



    }

    
}



@mixin add_color($angle: 12deg) {

    body {

        counter-reset: couner_blah;

        --anglingz: 48deg;

        $anglingz_blah: var(--anglingz);

        .dugme {


            $coloringz: var(--changingColor);

            counter-increment: counter_blah 1;

            background-color: adjust-hue(olive, $angle);

            border: $coloringz solid 4px;
            color: $coloringz;
            
            &::after {

                content: "Dugme " counter(counter_blah);

            }

            &:nth-of-type(2n){

                background-color: adjust-hue(green, 58);

            }

            

        }


        > *:hover {

            --changingColor: currentColor;
            

        }
        
    

    }

    
}


@mixin theme($color: blanchedalmond, $angle: 18deg){

    div.container {


        .blah {

            background-color: adjust-hue($color, $angle)

        }

    }

}

