$border-right: 2px solid tomato;
$border-left: 4px ridge olive;

$lovely_border: 6px ridge tomato;
$dark_border:  8px outset rgb(219, 176, 176);
$gener_text: "additinal text is this, blah";
$gener_font: arial; 
$font_lovely_color: rgb(207, 67, 109);
$curved_text_fam: cursive;
$color_sec: rgb(33, 218, 178);
