$color_dark: #162c19de !default;
$color_light: #b3f0a9 !default;
$bc-col-light: hsla(329, 45%, 90%, 0.871);
$bc-col-dark: rgba(56, 11, 28, 0.871);


$dark-redish: rgba(98, 8, 20, 0.486);
$error-text: "This is aan error red element blah";
$lighter-green: #8ed1aa;