#app, body, html {
    margin: 0;
    padding: 0;
}

#app {
    border: 0px solid tomato;
    width: 100%;
    box-sizing: border-box;
    
    display: grid;
    grid-gap: 18px;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 74vh 2000px 200px;


    /* NARAVNO ZA SUBSTRING-OVE, KORISTIM KARAKTERE PO MOJOJ ZELJI */

    grid-template-areas: "h h h h h h h h h h h h"
                         ". . . m m m m m m . . ."
                         "f f f f f f f f f f f f";
}

/* helping border styles */
header, main, footer {
    border: olive solid 0px;
}

/**/

header {
    grid-area: h;
}


/************************************************/

main {
    grid-area: m;
}

footer {
    grid-area: f;
}

/* ------------------------overlaping background images in header----------------------- */

