#app, body, html {
    margin: 0;
    padding: 0;
}

#app {
    border: 0px solid tomato;
    width: 100%;
    box-sizing: border-box;
    
    display: grid;
    grid-gap: 18px;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 74vh 2000px 200px;


    /* NARAVNO ZA SUBSTRING-OVE, KORISTIM KARAKTERE PO MOJOJ ZELJI */

    grid-template-areas: "h h h h h h h h h h h h"
                         ". . . m m m m m m . . ."
                         "f f f f f f f f f f f f";
}

/* helping border styles */
header, main, footer {
    border: olive solid 2px;
}

/**/

header {
    grid-area: h;

}





header section {
    width: 100%;
    height: 100%;
    
}

header nav {
    border: green solid 1px;
    height: 8.5vh;
}

/* -----------------header image------------------------ */

body {
    --bImage1: something;
    --bImage2: something;
    --bImage3: something;
    --bImage4: something;
    --bImage5: something;
    --bImage6: something;
    --bImage7: something;
    --bImage8: something;
}

header section div.header_background {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    height: 200px;
    border: tomato solid 4px;
    background-position: center;
    background-size: 140%;
    background-repeat: no-repeat;
    background-image: var(--bImage1);

    animation-name: changeBackgroundImage;
    animation-duration: 48s;
    animation-play-state: running;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
}

@keyframes changeBackgroundImage {
    0% {
        background-image: var(--bImage1);
        opacity: 1;
    }
    12% {
        opacity: 0.6;
        background-image: var(--bImage2);
    }
    25% {
        background-image: var(--bImage3);
        opacity: 1;
    }
    35% {
        opacity: 0.6;
        background-image: var(--bImage4);
    }
    50% {
        background-image: var(--bImage5);
        opacity: 1;
    }
    65%{
        opacity: 0.6;
        background-image: var(--bImage6);
    }
    75% {
        background-image: var(--bImage7);
        opacity: 1;
    }
    85% {
        opacity: 0.6;
        background-image: var(--bImage8);
    }
    100% {
        background-image: var(--bImage8);
        opacity: 1;
    }
}

/************************************************/

main {
    grid-area: m;
}

footer {
    grid-area: f;
}