/* STYLING nav ELEMENT */

/* variable for height of nav */

nav {
    --navHeight: 12vh;
    --navBcolor: transparent;
    --aLastOfType1: "contact";
    --aLastOfType2: "blog";
    --aLastOfType3: "about";
    --hide: transparent;
    --textFillColor: rgba(192, 37, 71, 0.739);
    --fontSizeA: 1.1em;
}

nav {
    height: var(--navHeight);
    border: red solid 0px;
    width: 100%;
    z-index: 4;
    box-sizing: border-box;

    display: flex;
    flex-direction: row;

    align-items: center;
    justify-content: flex-end;


    flex-wrap: wrap;
    
    color: white;

    background-color: var(--navBcolor);

    /* box-shadow: 0px 1px 1px 0.5px rgba(87, 53, 53, 0.739); */

    
    position: relative;
}


nav > div:not(:nth-of-type(1)) {
    position: relative;
    border: pink solid 0px;
}


nav > div:nth-of-type(1) {
    margin-right: auto;
    margin-left: 8em;
}

nav > div:nth-of-type(2){
    margin-left: auto;
}

nav > div:nth-last-of-type(1){
    margin-right: 8em;
}

nav > div:nth-of-type(1)::after {
    content: attr(data-text);
}

nav > div > a::after {
    text-transform: uppercase;
}

nav > div:nth-last-of-type(3) a::after {
    content: var(--aLastOfType3);
}
nav > div:nth-last-of-type(2) a::after {
    content: var(--aLastOfType2);
}
nav > div:nth-last-of-type(1) a::after {
    content: var(--aLastOfType1);
}


nav > div:not(:nth-of-type(1)):not(:nth-of-type(2)) {
    margin-left: 3em;
}

nav > div:not(:nth-of-type(1)) a {
    padding: 0;
    margin: 0;
    color: white;
    text-decoration-line: none;
    font-family: "Montserrat",georgia,serif;;
    font-weight: 200;
    font-size: var(--fontSizeA);
    position: absolute;
    left: 0;
    top: 0;
    display: inline;
    /* -webkit-font-smoothing: antialiased; */
}

nav > div:not(:nth-of-type(1)) a::before {
    padding: 0;
    margin: 0;
    position: absolute;
    left: 0;
    top: 0;
    font-family: "Montserrat",georgia,serif;;
    overflow: hidden;
    width: 0%;
    color: rgba(161, 15, 100, 0.438);
    font-weight: inherit;
    /* text-shadow: 0.4px 0.4px 0.4px rgba(236, 25, 113, 0.712); */

    transition-property: width;
    transition-duration: 0.2s;
    transition-timing-function: ease-in;
    font-size: inherit;
    text-transform: uppercase;
    font-weight: 600;

    /* -webkit-font-smoothing: antialiased; */
}

nav > div:nth-last-of-type(1) a::before {
    content: var(--aLastOfType1)
}
nav > div:nth-last-of-type(2) a::before {
    content: var(--aLastOfType2)
}
nav > div:nth-last-of-type(3) a::before {
    content: var(--aLastOfType3)
}

nav > div:not(:nth-of-type(1)) a:hover::before{
    width: 100%;
    /* transform: scale(2,2); */
}


nav > div:nth-last-of-type(3)::after {
    content: var(--aLastOfType3);
}
nav > div:nth-last-of-type(2)::after {
    content: var(--aLastOfType2);
}
nav > div:nth-last-of-type(1)::after {
    content: var(--aLastOfType1);
}

nav > div:not(:nth-of-type(1))::after {
    color: var(--hide);
    /* color: yellow; */
    z-index: -2;
    display: inline;
    text-transform: uppercase;
    font-size: var(--fontSizeA);
}