@import './prviutil.scss';


$font_app: 4rem !default;


$sel_light: "light";
$sel_dark: "dark";


div.kont {

    font-size: 1.2em;

    @import './styles/variables';

    > .article {

        font-family: Verdana, Geneva, Tahoma, sans-serif;


        &.element-#{$sel_dark} {    // DAKLE UMECEM STRING U SAMI SELEKTOR

                                    // OVO BI BILO TRANSPILED U CSS KAO    div.kont > .article.element-dark

            color: $color_dark;
            background-color: $bc-col-light;

        }

        &.element-#{$sel_light} {

            color: $color_light;
            background-color: $bc-col-dark;

        }


    }


}






#app {
    border: tomato dotted 14px;
    background-color: khaki;

    font-size: $font_app;

    aside, .main {
        width: 38vw;
        display: inline-block;
    }


    

    

    aside {
        border: orchid solid 2px;
        // background-color: bisque;
        height: 48vh;

        .theme_dark & {
            background-color: aqua;
        }
    }


    .main {
        border: olive solid 4px;
        // background-color: crimson;
        height: 58vh;

        .theme_light & {
            background-color: darkorange;
        }


        $font_app: 2rem;

        &::after {
            content: "potice od main-A";
            display: block;
            font-size: $font_app;
            
        }

    }


}

@import './styles/variables';



@import './styles/variables_2';
@import './styles/mixins';


div {

    &.kontejner-cuda {

        @include fancy_blah(#b574e0){           // POZVAO SAM @include SA CULY BRACKETS-IMA

            // SVE U OVOM BLUKU JE REPRESENTED BY @content
            // STO ZNACI DA OVI OVDE STILOVI PRIPADATI DEFINISANOM PSEUDO ELEMENTU

            content: $gener_text;
            font-family: $gener_font;
            border-left: $dark_border;
            border-right: $lovely_border;

        }

    }

}







body{

    .some_el {

        @include fancy_element($dark-redish, null)       // NISAM DODAO TRECI ARGUMENT

    }

}



@include range_input_uniform(){

    
}





