#app#app#app {
    border-style: groove;
}

#app::before {
    content: "string neki"
}

#app {

    margin-top: 200px;

    &::after {
        content: url(/src/images/normal/image_18.jpg);
        width: 38vw;
    }

}
