.colory_blah {

    border-style: double;
    border-width: 12px;
    border-color: mediumaquamarine;

    height: 20vw;
    width: 80vw;


    .blah_theme & {
        background-color: chocolate;
    }

}