.shrink {

    width: 28vw;
    height: 58vw;
    

}

.shrink::after {
    content: "SHRINK"
}

.pixel_size {

    width: 400px;
    height: 280px;

    

}

.pixel_size::after {
    content: "PIXEL"
}